/* ========================================
   Utility Classes
   ======================================== */

.color-gold {
  color: $color-gold;
}

.color-blue {
  color: $color-blue-link;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
