// CSS Reset & Normalization

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  background-color: $color-white;
  color: $color-gray-dark;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

hr {
  border: none;
  border-top: 1px solid $color-gray-medium;
  margin: $spacing-md 0;
}

table {
  border-collapse: collapse;
}

td {
  padding: $spacing-sm;
}
