// Header Layout

.l-header {
  width: 100%;
  background-color: $color-gray-light;
  padding: $spacing-md;
  text-align: center;
  border-bottom: $border-width solid $color-gray-medium;
}

.l-header__content {
  max-width: 1200px;
  margin: 0 auto;
}
