/*
 * Globals
 */

 @font-face {
    font-family: 'Jace';
    src: url('../fonts/Beleren2016-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal; /**/

    font-family: 'NicolBolas';
    src: url('../fonts/Goudymedieval.ttf') format('ttf');
    font-weight: normal;
    font-style: normal; /*Vintage*/

    font-family: 'Braids';
    src: url('../fonts/MatrixBold.ttf') format('ttf');


}

/*
 * Elements
 */